@charset "utf-8";
/* CSS Document */

html,body {margin:0;padding:0;background-color:#f6f6fa;}

#toolbar {background:#0b2660;width:100%;padding:15px;box-sizing: border-box;align-items:center;position:fixed;top:0;left:0;z-index: 1090;}
#toolbar div div .logo-container {align-items: center;display: flex;}
#toolbar .fa-bars {color:#fff;margin:0 0 0 40px;font-size:2em;cursor:pointer;transition:all 0.2s ease-in-out;display:flex;align-items:center;}
#toolbar .fa-bars:hover {color:#4fe28f;}
#toolbar .fa-bars span {font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; font-weight: normal;font-size: 0.70em;margin: 5px 0 0 15px;}
.logo {max-width:65px;}
.tools-container {display:flex;align-items: center;justify-content: flex-end;}
ul.tools {display: flex;justify-content: space-between;align-items: center;list-style: none;margin: 0;padding: 4px 15px;border-left: 1px solid #999;border-right: 1px solid #999;}
ul.tools li {margin: 0 25px;}
ul.tools li a i {font-size: 1.5em;color: #eee;opacity: 0.6;transition: all 0.3s ease-in-out;}
ul.tools li a i:hover {opacity:1;}
ul.myaccount {margin:0;}
ul.myaccount a {text-decoration:none;opacity:0.6;transition:all 0.3s ease-in-out;}
ul.myaccount .fa-user,ul.myaccount .fa-chevron-down {color: #fff;margin: 0;font-size: 1.3em;cursor: pointer;transition: all 0.2s ease-in-out;display: inline-flex;align-items: center;}
ul.myaccount .fa-chevron-down {display: inline-flex;margin: 1px 0 0 5px;font-size: 1em;}
ul.myaccount a:hover {opacity:1;}
ul.myaccount a:hover > .fa-user,ul.myaccount a:hover > .fa-chevron-down {color:#4fe28f;}
ul.myaccount .fa-user span {font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; font-weight: normal;font-size: 0.70em;margin: 5px 0 0 15px;}
#sidebar {background:#f9fafc;border-right: 2px solid #ddd;box-sizing: border-box;padding: 25px;}